* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* --- GENERAL --- */
body {
  background-color: #1e1e1e;
  color: #000100;
  font-family: "Oswald", sans-serif; 
  background-image: url(./img/kshoes.png);
  background-size: contain;
  background-repeat: repeat;
}

.logo {
  font-size: 55px;
  font-style: italic;
}

.botones {
  font-size: 1rem;
  font-family: oswald, sans-serif;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  background-color: #444444;
  border-radius: 10px;
}

h2 {
  font-weight: bold;
  font-size: 1.2rem;
  display: grid;
}

i {
  padding: 10px;
  margin: 25px;
}

p {
  margin: 0px;
  font-size: 20px;
}

ol, ul {
  padding-left: 0px;
}

/* --- HEADER --- */
header {
  background-color: #000100;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 0px #000100;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* --- FOOTER --- */
footer {
  background-color: #1e1e1e81;
  color: #f5f5f5;
  padding: 10px;
  font-size: 10px;
}

p {
  text-align: center;
}

.footer-content {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.footer-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-redes li {
  list-style-type: none;
}

i {
  font-size: 35px;
  margin: 10px;
  width: 25px;
}

/* --- INDEX --- */
div {
  display: flex;
  flex-direction: column;
} 

.div-cuadros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.boxes {
  width: 48vh;
  margin: 30px;
  padding: 25px;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  box-shadow: rgb(0 1 0) 0px 0px 15px 0px;
}

.boxes:hover {
  transform: scale(1.1, 1.1);
}

/* --- PRODUCTOS --- */

#container-general {
  display: flex;
  flex-direction: column;
  color: #f3f3f3;
}

#ordenar-modal {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#seleccion {
  width: 20%;
  margin: 20px 0px 20px 80px;
}

.modal-carrito {
  color: #000000;
  width: 20%;
  margin: 20px 80px 20px 0px;
}
      
.modal-carrito i {
  font-size: 1rem;
}

.modal-title {
  color: #000100;
}
    
.table {
  text-align: center;
}
    
#gastoTotal {
  font-size: 1.2rem;
  color: #000100;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
  
.modal-footer a {
  text-decoration: none;
  color: #f5f5f5;
}
  
#section-productos {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
   
.card-product {
  margin: 20px 0px;
  text-align: center; 
  display: grid;
}
        
.img-container img {
  width: 345px;
  height: 500px;
}

.img-product {
  border-radius: 22px;
}

/* --- CARRITO --- */
.form-carrito h2 {
  color: #292929;
  display: flex;
  justify-content: center;
}

.section-carrito {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}

.form-carrito {
  width: 60%;
  margin-bottom: 25px;
  background-color: #f5f5f5c1;
  padding: 40px;
  border-radius: 10px;
}

form h2 {
  font-size: 1.2rem; 
  color: #f5f5f5;
}

form .botones {
  width: 100%; 
}

.botones:hover {
  color: #f5f5f5; 
}

.error {
  color: #d11e1e;
  display: none; 
}

.pago-tarjeta {
  display: none; 
}

.resumen-carrito table {
  background-color: rgba(158, 158, 158, 0.615);
  color: #000100;
  text-align: center;
  border-collapse: collapse; 
}

.resumen-carrito table tr td {
  font-size: 1.2rem;
  padding: 15px;
}

/* --- CONTACTO --- */
.section-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}

.div-contacto {
  display: grid; 
}

.div-contacto div {
  background-color: rgba(199, 199, 199, 0.677);
  padding: 40px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin: 20px;
}

.div-contacto div p {
  padding: 10px; 
}

.div-contacto div p i {
  margin-right: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: center;
}

.form-contacto section {
  background-color: #c0c0c0d5;
  padding: 40px;
  border-radius: 10px;
  width: 90vh;
}

.form-contacto section form {
  display: flex;
  flex-direction: column; 
}

.form-contacto section form .error {
  display: none;
  color: #d11e1e;
  font-size: 1rem; 
}

.form-contacto section form h2 {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem; 
  color: #000100;
}

.form-contacto section form div {
  margin: 5px 0px 5px 0px;
  font-size: 1.1rem; 
  display: flex;
  flex-direction: row;
}