* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* --- GENERAL --- */
body {
  background-color: #1e1e1e;
  color: #000100;
  font-family: "Oswald", sans-serif; 
  background-image: url(./img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 55px;
  font-style: italic;
}

.botones {
  font-size: 1rem;
  font-family: oswald, sans-serif;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  color: #f5f5f5;
  background-color: #444444;
}

h2 {
  font-weight: bold;
  font-size: 1.2rem;
  display: grid;
}

i {
  padding: 10px;
  margin: 25px;
}

p {
  margin: 0px;
  font-size: 20px;
}

ol, ul {
  padding-left: 0px;
}

/* --- HEADER --- */
header {
  background-color: #000100;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 0px #000100;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* --- FOOTER --- */
footer {
  background-color: #1e1e1e81;
  color: #f5f5f5;
  padding: 10px;
  font-size: 10px;
}

p {
  text-align: center;
}

.footer-content {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.footer-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-redes li {
  list-style-type: none;
}

i {
  font-size: 35px;
  margin: 10px;
  width: 25px;
}

/* --- INDEX --- */
div {
  display: flex;/* 
  justify-content: flex-end; */
  flex-direction: column;
} 

.div-cuadros {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  margin: auto;
}

.boxes {
  width: 48vh;
  margin: 30px;
  padding: 25px;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  box-shadow: rgb(0 1 0) 0px 0px 15px 0px;
}

.boxes:hover {
  transform: scale(1.1, 1.1);
}

/* --- PRODUCTOS --- */
#container-general {
  display: flex;
  flex-direction: column;
  color: #f3f3f3;
}

#container-general #ordenar-modal {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#container-general #ordenar-modal #seleccion {
  width: 20%;
  margin: 20px 0px 20px 80px;
}

#container-general #ordenar-modal .modal-carrito {
  color: #000000;
  width: 20%;
  margin: 20px 80px 20px 0px;
}
      
#container-general #ordenar-modal .modal-carrito i {
  font-size: 1rem;
}
    
#container-general #ordenar-modal .table {
  text-align: center;
}
    
#container-general #ordenar-modal #gastoTotal {
  font-size: 1.2rem;
}
  
#container-general #ordenar-modal .modal-footer a {
  text-decoration: none;
}
  
#container-general #section-productos {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end; 
}
   
.card-product {
  margin: 20px 0px;
  text-align: center; 
  display: grid;
}
      
#container-general #section-productos .card-product .img-container {
  position: relative; 
}
        
.img-container img {
  width: 345px;
  height: 500px;
}

/* --- CARRITO --- */
.section-carrito {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .section-carrito .form-carrito {
    width: 60%; }
    .section-carrito .form-carrito form h2 {
      font-size: 1.2rem; }
    .section-carrito .form-carrito form .botones {
      width: 100%; }
      .section-carrito .form-carrito form .botones:hover {
        color: #f5f5f5; }
    .section-carrito .form-carrito form .error {
      color: #d11e1e;
      display: none; }
    .section-carrito .form-carrito form .pago-tarjeta {
      display: none; }
  .section-carrito .resumen-carrito {
    width: 60%;
    margin-bottom: 50px; }
    .section-carrito .resumen-carrito table {
      background-color: rgba(158, 158, 158, 0.137);
      color: #000100;
      text-align: center;
      border-collapse: collapse; }
      .section-carrito .resumen-carrito table tr td {
        font-size: 1.2rem;
        padding: 15px; }

/* === CONTACTO === */
.section-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .section-contacto .div-contacto {
    display: grid; }
    .section-contacto .div-contacto div {
      background-color: rgba(158, 158, 158, 0.137);
      padding: 40px;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      margin: 20px; }
      .section-contacto .div-contacto div p {
        padding: 10px; }
        .section-contacto .div-contacto div p i {
          margin-right: 25px;
          cursor: pointer;
          font-size: 1.5rem;
          align-items: center; }
  .section-contacto .form-contacto section {
    background-color: #d7c1d7d5;
    padding: 40px;
    border-radius: 10px;
    width: 90vh; }
    .section-contacto .form-contacto section form {
      display: flex;
      flex-direction: column; }
      .section-contacto .form-contacto section form .error {
        display: none;
        color: #d11e1e;
        font-size: 1rem; }
      .section-contacto .form-contacto section form h2 {
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem; }
      .section-contacto .form-contacto section form label,
      .section-contacto .form-contacto section form div {
        margin: 5px 0px 5px 0px;
        font-size: 1.1rem; }
      .section-contacto .form-contacto section form form input,
      .section-contacto .form-contacto section form form textarea {
        border: none;
        border-radius: 5px;
        border-bottom: 1px solid #000100;
        resize: none; }
        .section-contacto .form-contacto section form form input:focus,
        .section-contacto .form-contacto section form form textarea:focus {
          outline: none; }
      .section-contacto .form-contacto section form .botones {
        width: 100%; }
        .section-contacto .form-contacto section form .botones:hover {
          color: #d7c1d7d5; }